.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.desc {
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.load{
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  color: black;
  text-align: center;
}

/* 등급별 배경색 설정 */
.좋음 {
  background-color: #4a90e2; /* 파란색 */
}
.보통 {
  background-color: #7ed321; /* 연두색 */
}
.나쁨 {
  background-color: #f5a623; /* 주황색 */
}
.매우나쁨 {
  background-color: #d0021b; /* 빨간색 */
}
.점검중 {
  background-color: #4a4a4a; /* 회색 */
}


/* 꽃가루 지수 (0~3) 전용 스타일 */
._0 {
  background-color: #e0e0e0; /* 낮음 - 연회색 */
  color: black;
}

._1 {
  background-color: #ffe599; /* 보통 - 연노랑 */
  color: black;
}

._2 {
  background-color: #f6b26b; /* 높음 - 주황 */
  color: black;
}

._3 {
  background-color: #c00000; /* 매우 - 빨강 */
  color: white;
}